.dropdown-menu>li>a {
	cursor: pointer;
}
a.navbar-brand {
	cursor: default;
}
#map {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: #151515;
}
.navbar-fixed-top {
	top: 16px;
}
.navbar-fixed-top .container {
	margin-top: 0;
}
body .container {
	margin-top: 16px;
}
.leaflet-top .leaflet-control {
	margin-top: 128px;
}
ul.scroll-menu {
	position: relative;
	display: inherit !important;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
	top: 0 !important;
	left: 0 !important;
	width: 100%;
	height: auto;
	max-height: 500px;
	margin: 0;
	border-left: none;
	border-right: none;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
// uses code from http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3
.dropdown:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #000;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}